body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

h1 {

  font: 25px "Lucida Grande";
  margin-top: 25px;

}