<h1>Eventos en detalle</h1>

    <div class="mt-5">
        <div class="card" style="width: 18rem;">
            <img src="#" class="card-img-top" alt="#">
            <div class="card-body">
                <h5 class="card-title"> Noche de paz, noche de RIJKS </h5>
                <p class="card-text">Disfruta de la navidad en el RIJKS </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Fecha: 24-12-2022</li>
                <li class="list-group-item">Hora 21.00</li>
                <li class="list-group-item">Dirección: Museumstraat 1, 1071 XX Amsterdam, Netherlands</li>
            </ul>
            <div class="card-body">
                <form action="/created-comments" method="POST">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Pregunta" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">¿Tienes alguna pregunta?</label>
                </div>
                {{#if userId}}
                <a href="" class="btn btn-primary">ASISTIR</a>
                {{/if}}
                {{#if isAdmin}}
                <a href="/event/{{id}}/edit-events" class="btn btn-primary">EDITAR</a>
                <form action="/event/{{id}}/delete-events" method="POST">
                    <button class="btn btn-primary" type="submit">ELIMINAR</button>
                </form>
                {{/if}}
                </form>
            </div>
        </div>

        {{!-- <a href="/evento/{{id}}/editar-evento">unirse</a> --}}